<a href="https://colab.research.google.com/github/hoky1227/Transformer_based-recommendation/blob/main/Instacart_Transformer_Pre_processing3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

drive.mount('/content/drive/')
path = '/content/drive/MyDrive/Instacart/'

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import random
import time
import datetime
import csv
import os
import matplotlib.pyplot as plt
import pickle
from tqdm import tqdm

In [ ]:
df = pd.read_pickle(path + 'InstacartOrders_sample.pkl')
df

         order                                           products
0          289  All Natural Roasted Garlic Hummus&&Organic Cot...
1          378                    Skim Milk&&Whole Vitamin D Milk
2          442  Total 2% Lowfat Plain Greek Yogurt&&Pitted Kal...
3          562  Crackers Cheddar Bunnies Snack Packs&&Organic ...
4          749  Organic Mushroom Base&&Chanterelle Mushrooms&&...
...        ...                                                ...
32747  3345838  Pomegranate on the Bottom Non-Fat Greek Yogurt...
32748  3345950  Veri Veri Teriyaki Marinade & Sauce&&Mild Ched...
32749  3345963  Unsweetened Organic Soy Milk&&Light Sour Cream...
32750  3346014  Half & Half&&Coke Zero&&Chicken Flavor Ramen N...
32751  3346047  100% Pineapple Juice&&Honey Oat Crunch Trail M...

[32752 rows x 2 columns]

In [ ]:
df['products'] = df['products'].str.split('&&')
df

         order                                           products
0          289  [All Natural Roasted Garlic Hummus, Organic Co...
1          378                  [Skim Milk, Whole Vitamin D Milk]
2          442  [Total 2% Lowfat Plain Greek Yogurt, Pitted Ka...
3          562  [Crackers Cheddar Bunnies Snack Packs, Organic...
4          749  [Organic Mushroom Base, Chanterelle Mushrooms,...
...        ...                                                ...
32747  3345838  [Pomegranate on the Bottom Non-Fat Greek Yogur...
32748  3345950  [Veri Veri Teriyaki Marinade & Sauce, Mild Che...
32749  3345963  [Unsweetened Organic Soy Milk, Light Sour Crea...
32750  3346014  [Half & Half, Coke Zero, Chicken Flavor Ramen ...
32751  3346047  [100% Pineapple Juice, Honey Oat Crunch Trail ...

[32752 rows x 2 columns]

In [ ]:
df['len'] = [len(df['products'][i]) for i in range(len(df))]
df

         order                                           products  len
0          289  [All Natural Roasted Garlic Hummus, Organic Co...   19
1          378                  [Skim Milk, Whole Vitamin D Milk]    2
2          442  [Total 2% Lowfat Plain Greek Yogurt, Pitted Ka...    9
3          562  [Crackers Cheddar Bunnies Snack Packs, Organic...   14
4          749  [Organic Mushroom Base, Chanterelle Mushrooms,...   17
...        ...                                                ...  ...
32747  3345838  [Pomegranate on the Bottom Non-Fat Greek Yogur...    9
32748  3345950  [Veri Veri Teriyaki Marinade & Sauce, Mild Che...   10
32749  3345963  [Unsweetened Organic Soy Milk, Light Sour Crea...    7
32750  3346014  [Half & Half, Coke Zero, Chicken Flavor Ramen ...    9
32751  3346047  [100% Pineapple Juice, Honey Oat Crunch Trail ...    9

[32752 rows x 3 columns]

In [ ]:
df['len'].describe()

count    32752.000000
mean        10.131412
std          7.599141
min          1.000000
25%          5.000000
50%          8.000000
75%         14.000000
max        108.000000
Name: len, dtype: float64

In [ ]:
id = df[df['len'] == df['len'].max()].index
p = df['products'][id].to_list()
p[0]

In [ ]:
df['order'][id]

21013    2136777
Name: order, dtype: object

In [ ]:
raw = pd.read_pickle(path + 'order_products.pkl')
raw

          order_id              product_id  user_id
0           431534     Organic Fuji Apples        1
1           431534  Bag of Organic Bananas        1
2           431534       Honeycrisp Apples        1
3           431534   Organic String Cheese        1
4           431534          Bartlett Pears        1
...            ...                     ...      ...
33819101   3154581         Diet Pepsi Pack   206209
33819102   3154581  Organic Diced Tomatoes   206209
33819103   3154581   Fat Free Cream Cheese   206209
33819104   3186442      Raisin Bran Cereal   206209
33819105   3186442            Tomato Paste   206209

[33819106 rows x 3 columns]

In [ ]:
len(raw[raw['order_id'] == 2136777])

108

In [ ]:
detail = pd.read_csv(path + 'InstacartDetail.csv')
detail

       Unnamed: 0                                       product_name
0               0                         Chocolate Sandwich Cookies
1               1                                   All-Seasons Salt
2               2               Robust Golden Unsweetened Oolong Tea
3               3  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               4                          Green Chile Anytime Sauce
...           ...                                                ...
49683       49683          Vodka, Triple Distilled, Twist of Vanilla
49684       49684                 En Croute Roast Hazelnut Cranberry
49685       49685                                   Artisan Baguette
49686       49686         Smartblend Healthy Metabolism Dry Cat Food
49687       49687                             Fresh Foaming Cleanser

[49688 rows x 2 columns]

In [ ]:
detail.loc[49533]

Unnamed: 0                               49533
product_name    JalapeÃ±o Seasoned Potato Chips
Name: 49533, dtype: object

In [ ]:
detail.loc[49585]

Unnamed: 0                                       49585
product_name    ChÃ¨vre Oh-La-La Spreadable Goat Cheese
Name: 49585, dtype: object

In [ ]:
detail.loc[49640]

Unnamed: 0              49640
product_name    8\" Pecan Pie
Name: 49640, dtype: object

In [ ]:
ds = pd.DataFrame(columns=df.coloumns)
ds['order'] = df['order'][i] for v in range(len(df['products'][i]))


for i in range(len(df)):
    for v in df['products'][i]:

In [ ]:
df_products = pd.DataFrame(columns=['products'])

products = []

for i in range(len(df)):
    for v in df['products'][i]:
        products.append(v)

df_products['products'] = products
df_products

                                          products
0                All Natural Roasted Garlic Hummus
1                           Organic Cottage Cheese
2            Probugs Strawnana Split Frozen Ypgurt
3                          Organic Red Bell Pepper
4                     Veggie Burger, Quarter Pound
...                                            ...
331819                       Golden Fishless Filet
331820  Original No Pulp 100% Florida Orange Juice
331821                                   Firm Tofu
331822                                      Banana
331823                        Organic Hass Avocado

[331824 rows x 1 columns]

In [ ]:
df_products.to_csv(path + 'products_sample.csv', encoding='UTF-8')